*{
    margin:0;
    /* font-family: "Montserrat"; */
}

.header{
    overflow: hidden;
    position: absolute;
    width: 95vw;
    height: 4em;
    margin: 1em;
    z-index: 10;
    /* border: 1px solid yellow; */
}

.header__logo{
    height: 4em;
    /* border: 1px solid blue; */
    position: absolute;
    left: 1em;
    display: flex;
    align-items: center;
    /* top: 1em; */
}

.header__logo-S{
    font-weight: 900;
    background-color: #21383E;
    color: #DDE1E2;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: flex; 
    justify-content: center;
    align-items: center
}

.header__logo-name{
    margin: 0.2rem;
    font-weight: 600;
    color: #21383E;
}


.header__nav{
    /* border: 1px solid blue; */
    position: absolute;
    width: fit-content;
    top: 1.5em;
    right: 40%;

}

.header__nav button{
    background: none;
    border: none;
    margin: 0em 1em;
    color:#21383E;
}
.header__nav button:hover{
    text-decoration: underline;
}

.header__div{
    /* border: 1px solid rgb(0, 255, 17); */
    position: absolute;
    width: fit-content;
    right:1em;
    top: 1em;
}

.header__div-loginButton{
    width: 6rem;
    background-color: white;
    height: 2rem;
    border: 0;
    border-radius: 1rem;
    color: #305F63;
    font-weight: 700;
}
.header__div-loginButton:hover{
    background-color: #305F63;
    color: white;
}

.header__div-signupAnchor{
    text-decoration: none;
    color: rgb(80, 80, 80);
}
.header__div-signupAnchor:hover{
    text-decoration: underline;

}



/* Hero section */

.hero-section{
    background-color: #DDE1E2;
    height: 65vh;
    border-radius: 1rem;
    margin: 0.7em;
    position: relative;
}

.hero-section__title{
    /* border: 1px solid blue; */
    width: 35%;
    position: relative;
    top: 6em;
    left: 8em;   
}

.hero-section__title h1{
    font-size: 3.2em;
    color: #21383E;
}
.hero-section__title p{
    margin: 2rem 0;
    color: rgb(80, 80, 80);
}

.hero-section__email{
    /* border: 1px solid red; */
    width: 40rem;
    position: relative;
    left: 8em;   
    top: 5.5em;    
    background-color: white;
    height: 3.4em;
    border-radius: 1.7em;
    /* display: flex;
    flex-direction: row;
    align-items: center; */
}

.hero-section__email label{
    position: absolute;
    left: 2.5em;
    color: rgb(155, 154, 154);
    top: 0.8em;
    z-index: 30;
    font-size: 0.7em;
    font-weight: 400;
}

.hero-section__email input{
    position: absolute;
    background-color: none;
    top: 0.2em;
    left: 0.2em;
    border-radius: 1.6em;
    height: 3.2em;
    width: 40em;
    border: none;
}
.hero-section__email input:hover{
    border: 1px dashed red;    
}

.hero-section__email button{
    position: absolute;

    background-color: #305F63;
    color: white;
    border: none;
    width: 7rem;
    height: 2.4rem;
    right: 0.5em;
    top: 0.5em;
    border-radius: 1.2rem;
}

/* main */

.main{
    /* border: 1px solid red; */
    margin: 0em 1em;
    padding-top: 1em;
    display: flex;
    justify-content: space-between;
}
.main div{
    /* border: 1px dashed blue; */
}

/* weekly popular */

.weekly-popular{
    width: 25rem;
}

.weekly-popular h2{
    color: #21383E;
}

.weekly-popular a{
    display: flex;
    align-items: center;

    text-decoration: none;
    color: #21383E;

    /* border: 1px dashed blue; */
}

.weekly-popular a span{
    /* Círculo */
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 1px solid #305F63;
    /* Espaciado */
    margin: 1rem;
    /* Centrar texto */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Ajustar tamaño de letra */
    font-size: 0.8rem;

}

.weekly-popular a div{
    /* border: 1px dashed rgb(255, 0, 221); */
    display: flex;
    flex-direction: column;
    height: 2rem;
    justify-content: space-between;
}

.weekly-popular a div h4{
    font-size: 0.8rem;
}
.weekly-popular a div p{
    font-size: 0.6rem;
    /* border: 1px dashed rgb(255, 0, 221); */
}